link(rel="stylesheet", href="css/index.css")

include views/tic-tac-toe

script(src="//code.jquery.com/jquery-1.11.3.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.15.1/ramda.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.70/Bacon.min.js")
script(src="js/tic-tac-toe.js")
