doctype html
html
  head
    title tic-tac-toe: FP w/ JS
    link(rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/index.css")
      
  body
    #tic-tac-toe

    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.15.1/ramda.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.70/Bacon.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js")
    script(src="js/tic-tac-toe.js")
    script(src="jsx/tic-tac-toe.js")
